Fazer Agendamento Cal.com.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Fazer Agendamento Cal.com
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 5f567991-c566-4063-89c4-a14cce41bdbf
    name: eventTypeId
    value: 1261266
    value_type: number
  - description: ''
    id: 62cdaa0b-1b1d-403f-b51c-4660632996fb
    name: apiKey
    value: cal_live_615d4b8b2b2faf8f1bc1cf92b91af576
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729813832155-source-1729814187629-target
      source: '1729813832155'
      sourceHandle: source
      target: '1729814187629'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729814187629-source-1729815444824-target
      source: '1729814187629'
      sourceHandle: source
      target: '1729815444824'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: Slot de data selecionada para o agendamento
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataslot
        - label: Nome completo
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: nome
        - label: Email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
        - label: Telefone no formato (XX) XXXXX-XXXX
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: telefone
      height: 167
      id: '1729813832155'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n  \"start\": {{#1729813832155.dataslot#}}\",\n  \"eventTypeId\"\
            : {{#env.eventTypeId#}},\n  \"attendee\": {\n    \"name\": \"{{#1729813832155.nome#}}\"\
            ,\n    \"email\": \"{{#1729813832155.email#}}\",\n    \"timeZone\": \"\
            America/Cuiaba\",\n    \"language\": \"pt-BR\"\n  },\n  \"guests\": [],\n\
            \  \"meetingUrl\":\"http://unemat.br\",\n  \"location\": \"http://unemat.br\"\
            ,\n\"bookingFieldsResponses\": {\n    \"customField\": \"dify\"\n }\n}"
          type: json
        desc: ''
        headers: 'Authorization:{{#env.apiKey#}}

          cal-api-version:2024-08-13'
        method: post
        params: ''
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v2/bookings
        variables: []
      height: 105
      id: '1729814187629'
      position:
        x: 404
        y: 253
      positionAbsolute:
        x: 404
        y: 253
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729814187629'
          - body
          variable: result
        selected: false
        title: Fim
        type: end
      height: 89
      id: '1729815444824'
      position:
        x: 686
        y: 266
      positionAbsolute:
        x: 686
        y: 266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 1
      y: -29
      zoom: 1
