PegarSlots_cal.com.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: PegarSlots_cal.com
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: a777b4ea-4962-4d38-8f3d-977536f9c8de
    name: eventTypeId
    value: '1259438'
    value_type: string
  - description: ''
    id: 8cd35818-b50f-4d32-8707-6b1d12ed6eb4
    name: apical
    value: ''
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1728608583946-source-1728608756631-target
      source: '1728608583946'
      sourceHandle: source
      target: '1728608756631'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1728608756631-source-1728609869086-target
      source: '1728608756631'
      sourceHandle: source
      target: '1728609869086'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1728609869086-source-1728609560256-target
      source: '1728609869086'
      sourceHandle: source
      target: '1728609560256'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: dataInicio (yyyy-MM-dd)
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataInicio
        - label: dataFim (yyyy-MM-dd)
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataFim
      height: 116
      id: '1728608583946'
      position:
        x: 15
        y: 246
      positionAbsolute:
        x: 15
        y: 246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: Authorization:Bearer {{#env.apical#}}
        method: get
        params: 'eventTypeId:{{#env.eventTypeId#}}

          startTime:{{#1728608583946.dataInicio#}}

          endTime:{{#1728608583946.dataFim#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v2/slots/available
        variables: []
      height: 110
      id: '1728608756631'
      position:
        x: 383
        y: 135
      positionAbsolute:
        x: 383
        y: 135
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1728609869086'
          - result
          variable: slots
        selected: false
        title: Fim
        type: end
      height: 90
      id: '1728609560256'
      position:
        x: 1053
        y: 171
      positionAbsolute:
        x: 1053
        y: 171
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(httpResponse):\n    body = json.loads(httpResponse)\n    slots\
          \ = body['data']['slots']\n    return {\n        \"result\": slots\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: object
        selected: false
        title: Filtrar JSON
        type: code
        variables:
        - value_selector:
          - '1728608756631'
          - body
          variable: httpResponse
      height: 54
      id: '1728609869086'
      position:
        x: 730.5
        y: 75.00041618943334
      positionAbsolute:
        x: 730.5
        y: 75.00041618943334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 112.53455598809245
      y: -168.93876446642628
      zoom: 1.5200640133112406
